/*---------- popup ----------*/
$popup-back: rgba( 0, 0, 0, .5 );
$popup-close-back: rgba( 255, 255, 255, 1 );
/*---------- /popup ---------*/

/*---------- websters-select ----------*/
$websters-select-border: #000;
$websters-select-popup-back: #fff;
$websters-select-popup-item-active-color: #fff;
$websters-select-popup-item-active-back: #f00;
/*---------- /websters-select ---------*/

/*---------- nice-radio ----------*/
$nice-radio-after-color: #000;
$nice-radio-color: #000;
/*---------- /nice-radio ---------*/

/*---------- nice-checkbox ----------*/
$nice-checkbox-after-color: #000;
$nice-checkbox-color: #000;
/*---------- /nice-checkbox ---------*/

/*---------- btn ----------*/
$btn-back: #3eacaf;
$btn-back-hover: #3eacaf;
$btn-back-active: #3eacaf;
$btn-color: #fff;
$btn-color-active: #fff;

$btn-2-back: #f00;
$btn-2-back-hover: #f0a;
$btn-2-back-active: #000;
$btn-2-color-active: #f0a;
/*---------- /btn ---------*/

/*---------- header ----------*/
$header-bg: #152731;
$header-title-color: #fff;
$header-text-color: #aac4c8;
/*---------- /header ----------*/

/*---------- advantages ----------*/
$advantages-text-color: #33434c;
$advantages-mark-color: #3eacaf;
$advantages-map-color: #2c2c2c;
$advantages-type-color: #979595;
/*---------- /advantages ----------*/

/*---------- logo ----------*/
$logo-text-color: #8c9a9f;
/*---------- /logo ----------*/

/*---------- contacts ----------*/
$contacts-color: #33434c;
$contacts-input-color: #88a5a9;
$contacts-input-border: #3eacaf;
$contacts-input-focus: #54c8cb;
/*---------- /contacts ----------*/
