
.site {
  overflow: hidden;
  position: relative;
  z-index: 1;
  min-width: 320px;
  min-height: 100%;
  @include main-font1();

  .site__centering {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
  }
  .site__header {
    position: relative;
    padding-top: 115px;
    padding-bottom: 70px;
    background: $header-bg;

    .site__header-inner {

      h2 {
        margin-bottom: 22px;
        font-size: 33px;
        line-height: 35px;
        color: $header-title-color;
        @include main-font5();

        strong {
          @include main-font4();
        }
      }

      p {
        margin-bottom: 27px;
        font-size: 20px;
        color: $header-text-color;
        letter-spacing: -0.1px;
        @include main-font3();
        font-style: italic;
      }

      .btn  {
        width: 158px;
      }
    }
    .site__header-pic {
      display: none;
    }
  }
  .site__header-scroll-btn {
    @include absoluteCenterX();
    left: 49.5%;
    bottom: 21px;
    width: 20px;
    height: 30px;
    background: url(../img/scroll-btn.png) no-repeat;
    background-size: contain;
  }
  .site__content {
    padding-top: 60px;
  }
}

@media (min-width: $phone-landscape) {

}
@media (min-width: $tablet-portrait) {

  .site {

    .site__header {
      padding-top: 200px;

      .site__header-inner {

        h2 {
          margin-bottom: 35px;
          font-size: 45px;
          line-height: 50px;
          white-space: pre-line;
        }
        p {
          font-size: 25px;
        }
      }
    }
  }
}
@media (min-width: $tablet-landscape) {

  .site {
    overflow: inherit;

    .site__centering {
      padding: 0 30px;
    }
    .site__header {

      .site__header-inner {

        h2 {
          margin-bottom: 61px;
          font-size: 50px;
          line-height: 60px;
        }

        p {
          margin-bottom: 28px;
          font-size: 30px;
        }
      }

      .site__header-scroll-btn {
        transform-origin: center;
        backface-visibility: visible;
        animation: flip 2s infinite linear;
      }
    }
  }

  @-webkit-keyframes flip {
    from {
      -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
      -webkit-animation-timing-function: ease-out;
    }

    30% {
      -webkit-transform: perspective(400px) translate3d(0, 0, 50px) rotate3d(0, 1, 0, -190deg);
      -webkit-animation-timing-function: ease-out;
    }

    40% {
      -webkit-transform: perspective(400px) translate3d(0, 0, 50px) rotate3d(0, 1, 0, -170deg);
      -webkit-animation-timing-function: ease-in;
    }

    70% {
      -webkit-transform: perspective(400px) scale3d(1, 1, 1);
      -webkit-animation-timing-function: ease-in;
    }

    80% {
      -webkit-transform: perspective(400px);
      -webkit-animation-timing-function: ease-in;
    }

    to {
      -webkit-transform: perspective(400px);
      -webkit-animation-timing-function: ease-in;
    }
  }
  @keyframes flip {
    from {
      transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
      animation-timing-function: ease-out;
    }

    30% {
      transform: perspective(400px) translate3d(0, 0, 50px) rotate3d(0, 1, 0, -190deg);
      animation-timing-function: ease-out;
    }

    40% {
      transform: perspective(400px) translate3d(0, 0, 50px) rotate3d(0, 1, 0, -170deg);
      animation-timing-function: ease-in;
    }

    70% {
      transform: perspective(400px) scale3d(1, 1, 1);
      animation-timing-function: ease-in;
    }

    80% {
      -webkit-transform: perspective(400px);
      -webkit-animation-timing-function: ease-in;
    }

    to {
      -webkit-transform: perspective(400px);
      -webkit-animation-timing-function: ease-in;
    }
  }
}
@media (min-width: $desktop) {

  .site {

    .site__header {
      min-height: 711px;
      padding: 253px 0 100px 0;

      .site__header-pic {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 41.9%;
        background-size: cover;
        background-position: left;
      }
    }
    .site__header-scroll-btn {
      bottom: 58px;
    }
    .site__content {
      padding-top: 161px;
    }
  }
}

